@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-weight: 700;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

a:hover {    
    color: #fff;  
}

.card-base {
  background: #E6F7FF;
  border-radius: 16px;
  margin-top: 54px;
  padding-bottom: 30px;
  min-height: 230px;  
}

.button {
  background: #1890FF;
  border-radius: 4px;
  width: 101px;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}